<style>
img { 
  /*border: 20px solid white;
  border-radius: 20px;*/
  width: 30px;
  height: 25px;
}
body {
  font-family: 'Alegreya', serif;
  max-width: 600px;
  background: #232323;
  position: center;
}
div {
  position: center;
}
h3 {
  font-family: 'Alegreya', serif;
  text-align: left;
  font-size: 30px;
  color: #aaaaaa;
}
</style>